[submodule "modules/fancy-prompt"]
	path = modules/fancy-prompt
	url = https://github.com/lewis6991/fancy-prompt
[submodule "moonlight.vim"]
	path = modules/moonlight.vim
	url = https://github.com/lewis6991/moonlight.vim
